language: python

python:

    - "2.7"
    
install:

  - pip install coveralls 
    
script:

  - python helloworld.py
  - python basic.py
  - coverage run basic_ut.py
    
    
 after_success:
 
  - coveralls
  
  before_install:
  
  - pip install coverage
  - pip intall coveralls
  